
<div class="col-sm-12 well">
  <form class="form-signin">
    <div class="col-sm-12"><h4 class="form-signin-heading">Iniciar sesión</h4>
    </div>
    <div class="col-sm-3">
       <img class="img-rounded img-responsive" src="./assets/img/user.png">
    </div>

    <div class="col-sm-9">
      <input class="login form-control" placeholder="Email" required="" autofocus="" type="text">
       <input class="login form-control" placeholder="Contraseña" required="" type="password">
    </div>

    <div class="col-sm-12">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar 
    </button>
    </div>

    <div class="col-sm-12">
      <a href="http://localhost:3000/auth/google"> 
        <img src="./assets/img/gplus.jpg" alt="gplus" width="250" height="250" />
      </a>
      <a href="http://localhost:3000/auth/facebook">
        <img type="image" src="./assets/img/face.jpg" alt="face" width="250" height="250" />
      </a>
    </div>

    </form>

</div> <!-- /container -->
