<p>
  signin works!
</p>


  <body>
    <div class="container">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
      <form class="form-signin">
        <h2 class="form-signin-heading">Global Data App </h2>
        <input class="form-control" placeholder="Email" required="" autofocus="" type="text">
        <input class="form-control" placeholder="Contraseña" required="" type="password">

        <label class="checkbox">
          <input value="remember-me" type="checkbox"> Recuerdame 
        </label>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión </button>
      </form>
      </div>
      <div class="col-sm-4"></div>

    </div> <!-- /container -->
</body>    