<div class="col-sm-12 well">
	<div class="">
		<h4>Tu Perfil de Usuario</h4>
	</div>
	<br/><br/>
	<form class="form-horizontal">
		<img src="./assets/img/users.png" class="img-responsive img-circle">
		<div class="form-group">
			<div class="input-group input-group-sm">
			  <span class="input-group-addon" id="sizing-addon3">Nombre(s)</span>
			  <input type="text" class="form-control" placeholder="..." aria-describedby="sizing-addon3">
			</div>
		</div>

		<div class="form-group">
			<div class="input-group input-group-sm">
			  <span class="input-group-addon" id="sizing-addon3">Apellidos</span>
			  <input type="text" class="form-control" placeholder="..." aria-describedby="sizing-addon3">
			</div>
		</div>

		<div class="form-group">
		<div class="input-group input-group-sm">
			  <span class="input-group-addon" id="sizing-addon3">Teléfono</span>
			  <input type="text" class="form-control" placeholder="0000" aria-describedby="sizing-addon3">
			</div>
		</div>


		<div class="form-group">
		<div class="input-group input-group-sm">
			  <span class="input-group-addon" id="sizing-addon3">Correo E.</span>
			  <input type="text" class="form-control" placeholder="..." aria-describedby="sizing-addon3">
		</div>
		</div>

		<br />
		<div class="form-group">
			<label class="col-sm-2 control-label" for="formGroup">
			</label>

			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-floppy-saved"></span> Guardar
				</button>

				<button type="button" class="btn  btn-lg"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar
				</button>
			</div>

		</div>
	</form>	
</div>	
