#tel{
	 margin-right:16px;	
}
.img-circle{
	max-width: 20%;
	max-height: 20%;
	position: relative;
	margin: auto;
	margin-bottom: 2%;
	margin-top: -10%;
}

.titleSingUp{
	text-align: center;
	margin-bottom: 5%;
	
}

.input-group-addon:first-child{
	width: 40%;
}

.input-group .form-control, .input-group-addon, .input-group-btn{
	width: 290%;
}

.btn-primary{
	background-color: #088A68;
}

.btn-primary:hover{
	background-color: #0B614B;
}

