<div>
  <h1 class=" text-center">DATAWAREHOUSE </h1>
  <div class="col-sm-12">
    <div class="col-sm-6"> 
      <img class="img-responsive" height="900" width="900" src="./assets/img/mundo3.gif" alt="miau miau">
    </div>
    <div class="col-sm-6">
      <h3>{{title}}</h3>
      <p>PROYECTO PARA ANALISIS DE DATOS</p>
      <p>EQUIPO 5</p>
      <p>CUCEI UDG</p>

      <h4>ESTADISTICAS POR PAÍS </h4>
      <p>Analisis de datos referentes a suelo, agricultura y medio ambiente.</p>     

      <h4>PAÍSES</h4>
      <p> El analisis de la información se centrará en algunos países de entre los 5 continentes.</p>
    </div>
  </div>
</div>